{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
<link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
{% endblock %} {% block content %}
<h1>
  Welcome, {{current_user.name}}!
</h1>
<div class="container">
    <div class="contant-section-1">
        <h2>Add Your Todo</h2>
        <hr>
        <form method="POST" action="/profile" class="form" name="form">
            <!-- input for div start -->
            <div class="input-div">
                <label for="title">Enter Your Todo Title</label>
                <input 
                type="text"
                name="title"
                id="title"
                class="input-text"
                placeholder="Enter a title">
            </div>
            <!-- input form div end -->
            <div class="input-div">
                <label for="description">Describe Your Todo here</label>
                <input 
                type="text"
                name="description"
                id="description"
                placeholder="Enter your description">
            </div>
            <button class="add-btn" type="submit">Add</button>
            <!-- input from div end -->
        </form>
    </div>
    <div class="contant-section-2">
        <h2> Your Todos</h2>
        <hr>
        <div class="table-div">
            <table id="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th class="description-row">Description</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr>
                        <td>{{todo.title}}</td>
                        <td>{{todo.desc}}</td>
                        <td>{{todo.created_at}}</td>
                        <td class="button-row">
                            <a href="{{ url_for('update', id=todo.id) }}" class="actions-btn- edit">Edit</a>
                            <a href="{{ url_for('delete', id=todo.id) }}" class="actions-btn-delete">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}